html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  scroll-behavior: smooth;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #e9e9e9; }

body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  position: relative;
  color: #131212; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding: 8% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header {
  background: -webkit-gradient(linear, left top, right top, from(#019ba0), to(#032c9c));
  background: -webkit-linear-gradient(left, #019ba0, #032c9c);
  background: -o-linear-gradient(left, #019ba0, #032c9c);
  background: linear-gradient(to right, #019ba0, #032c9c);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header input {
    margin: 0;
    padding: 15px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none; }
    header input#search {
      width: 400px; }
    header input#location {
      width: 200px;
      border-left: 1px solid #afafaf; }

.title {
  font-size: 9rem;
  padding-bottom: 50px;
  color: white;
  letter-spacing: -4px; }

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .search-bar-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px; }
    .search-bar-top input::-webkit-input-placeholder {
      font-size: 1.5rem; }
    .search-bar-top input:-ms-input-placeholder {
      font-size: 1.5rem; }
    .search-bar-top input::-ms-input-placeholder {
      font-size: 1.5rem; }
    .search-bar-top input::placeholder {
      font-size: 1.5rem; }
    .search-bar-top input:focus {
      border-bottom: 3px solid #2a89f7;
      outline-width: 0; }
  .search-bar-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
    color: white; }
    .search-bar-bottom label {
      text-align: center;
      padding: 15px;
      margin-right: 15px;
      cursor: pointer; }
      .search-bar-bottom label:nth-of-type(3) {
        margin-right: 0; }
    .search-bar-bottom input {
      margin: 0 40px 0 5px;
      position: absolute; }
      .search-bar-bottom input:checked + label {
        border: 1px solid white; }
    .search-bar-bottom input:last-of-type {
      margin: 0 0 0 5px; }
  .search-bar-slider {
    margin: 0 auto; }
    .search-bar-slider-label {
      text-align: center;
      padding-top: 10px;
      color: white; }

.btn {
  background-color: #131212;
  border: none;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: white;
  line-height: 33px;
  width: 150px;
  text-align: center;
  -webkit-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s; }
  .btn:hover {
    background-color: #2a89f7; }

.map {
  display: none;
  width: 100%;
  height: 95vh;
  background-color: #131212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #afafaf; }
  .map-scroll {
    width: 20%;
    background-color: #e9e9e9;
    overflow-y: auto;
    text-align: center; }
    .map-scroll-tile {
      padding: 50px 0;
      border-bottom: 1px solid #afafaf; }
      .map-scroll-tile:hover {
        background-color: #d0d0d0; }
  .map-container {
    width: 80%; }

#map {
  height: 100%; }

.map-scroll-tile {
  position: relative; }
  .map-scroll-tile-indicator {
    font-size: 2rem;
    position: absolute;
    color: white;
    top: 15px;
    left: 15px;
    background-color: #2a89f7;
    width: 40px;
    border-radius: 10px; }
  .map-scroll-tile-title {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px; }
  .map-scroll-tile-cuisine {
    margin-bottom: 10px;
    display: block; }
  .map-scroll-tile-price {
    display: block; }
    .map-scroll-tile-price-dollar {
      font-weight: bold;
      color: #027415; }

button.signin {
  font-family: Roboto, sans-serif;
  display: none;
  cursor: pointer;
  width: 100px;
  position: absolute;
  top: 2%;
  right: 3%;
  background-color: #131212;
  -webkit-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s; }
  button.signin:hover {
    background-color: #2a89f7; }

.user-results {
  background-color: #e9e9e9; }
  .user-results-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .user-results-title {
    font-size: 4rem;
    margin-bottom: 40px;
    border-bottom: 1px solid #afafaf;
    width: 100%;
    text-align: center;
    padding-bottom: 25px; }

.user-results-tile {
  width: 30%;
  height: 450px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 50px 1px #afafaf;
  box-shadow: 0px 0px 50px 1px #afafaf;
  margin-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .user-results-tile .upper-tile {
    height: 40%;
    overflow: hidden; }
    .user-results-tile .upper-tile img {
      -o-object-fit: cover;
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .user-results-tile .lower-tile {
    height: 60%;
    padding: 15px; }
    .user-results-tile .lower-tile .tile-btn {
      text-decoration: none;
      background-color: #2a89f7;
      padding: 10px;
      color: white;
      display: inline-block;
      text-align: right;
      margin-top: 10px; }
    .user-results-tile .lower-tile .tile-description {
      line-height: 1.3; }
    .user-results-tile .lower-tile-title {
      padding: 10px 0;
      font-size: 2.3rem; }

.mapContent-website {
  text-decoration: none; }

#slider .rs-range-color {
  background-color: #cfcfcf; }

#slider .rs-path-color {
  background-color: #fcfcfc; }

#slider .rs-handle {
  background-color: #131212;
  padding: 7px;
  border: 2px solid #131212; }
  #slider .rs-handle:hover {
    border: 2px solid #2a89f7;
    cursor: pointer; }

#slider .rs-handle.rs-focus {
  border-color: #131212; }

#slider .rs-handle:after {
  border-color: white;
  background-color: white; }

#slider .rs-border {
  border-color: transparent; }

#slider .rs-bg-color {
  background-color: transparent; }

#slider .rs-tooltip-text {
  position: absolute;
  top: 35px;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  position: relative; }

@media (max-width: 1100px) {
  .user-results-tile {
    width: 45%; } }

@media (max-width: 800px) {
  .user-results-tile {
    width: 65%; }
  .user-results-container {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 560px) {
  .user-results-tile {
    width: 100%; } }

@media (max-width: 800px) {
  .search-bar-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  header input#search {
    width: 100%;
    border-bottom: 1px solid #e9e9e9; }
  header input#location {
    width: 100%;
    border: none; }
  header a#submit-btn.btn {
    width: 100%; } }

@media (max-width: 560px) {
  .title {
    font-size: 7rem; } }

@media (max-width: 750px) {
  .map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .map-scroll {
      width: 100%;
      height: 200px;
      overflow-x: auto;
      overflow-y: none; }
      .map-scroll-tile {
        border-right: 1px solid #afafaf;
        min-width: 200px; } }
