$primaryColor: #0C7CC1;
$backgroundColor: #FED428;
$offBlackColor: #333;

@mixin primaryFont($size) {
    color: $primaryColor;
    font-family: 'Chewy', cursive;
    font-size: $size;
    font-weight: bold;
}

@mixin secondaryFont($size) {
    color: $offBlackColor;
    font-family: 'Archivo', sans-serif;
    font-size: $size;
}
@mixin position($type, $top, $right, $bottom, $left) { 
    position: $type; 
    top: $top; 
    right: $right; 
    bottom: $bottom; 
    left: $left; 
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
      text-align: center;
    //   height: 100vh;
    //   overflow: hidden;
      background: $backgroundColor;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10%;
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}


// typography styles
h1 {
    @include primaryFont(4.2rem);
    font-weight: bold;
    line-height: 29px;
    letter-spacing: .9rem;
    text-shadow: 4px 4px 4px $offBlackColor
}

h2 {
    @include primaryFont(2.8rem);
    // line-height: 29px;
    letter-spacing: .7rem;
}

h3 {
    @include secondaryFont(2.8rem);
    // line-height: 29px;
    letter-spacing: 3px;
}

p {
    @include secondaryFont(2.8rem);
    // line-height: 29px;
    letter-spacing: .3rem;
}

span {
    @include secondaryFont(2.4rem);
    // line-height: 29px;
    letter-spacing: .3rem;
}

.footer li {
  @include secondaryFont(1.8rem);
    line-height: 29px;
    letter-spacing: .3rem;
}
  
p,label {
    @include secondaryFont(2.0rem);
    padding: 10px;
}

input,textarea {
    border: 0;
    padding: 0;
    margin: 0;
    @include secondaryFont(2.0rem);
    color: black;
    display: inline-block;
}

h1,h2{
    text-transform: uppercase;
}

.btn {
    @include primaryFont(2.0rem);
    text-align: center;
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
    padding: 1rem 3rem;
    background: $primaryColor;
    border: 1px transparent;
    text-decoration: none;
    transition: background 0.3s ease, border 0.3s ease;
    &:hover {
        border: 1px solid $primaryColor;
    }
}

li {
    list-style: none;
    text-decoration: none;

}

img {
    width: 100%;
}
section {
    padding: 75px 0;
}

.flex-column {
  display: flex;
  flex-flow: column;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}
