header {
  background-color: #143bcf;
  height: 100vh;
  display: flex;
  align-items: center;
  input {
    margin: 0;
    padding: 0;
    border: none;
    flex: 1 0 auto;
  }
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #221f1f;
  border: none;
}

.search-bar {
  display: flex;
}
