header {
  // background-color: #143bcf;
  background: linear-gradient(to right, rgb(1, 155, 160), rgb(3, 44, 156));
  min-height: 100vh;
  display: flex;
  align-items: center;
  input {
    margin: 0;
    padding: 15px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    &#search {
      width: 400px;
    }
    &#location {
      width: 200px;
      border-left: 1px solid $grey;
    }
  }
}

.title {
  font-size: 9rem;
  padding-bottom: 50px;
  color: $white;
  letter-spacing: -4px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;

    input::placeholder {
      font-size: 1.5rem;
    }
    input:focus {
      border-bottom: 3px solid $accent;
      outline-width: 0;
    }
  }
  &-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: $white;
    label {
      text-align: center;
      padding: 15px;
      margin-right: 15px;
      cursor: pointer;
      &:nth-of-type(3) {
        margin-right: 0;
      }
    }
    input {
      margin: 0 40px 0 5px;
      position: absolute;
      &:checked + label {
        border: 1px solid white;
      }
    }
    input:last-of-type {
      margin: 0 0 0 5px;
    }
  }
  &-slider {
    margin: 0 auto;
    &-label {
      text-align: center;
      padding-top: 10px;
      color: $white;
    }
  }
}

.btn {
  background-color: $black;
  border: none;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  color: white;
  line-height: 33px;
  width: 150px;
  text-align: center;
  transition: background-color 0.1s;
  &:hover {
    background-color: $accent;
  }
}
