.map {
  display: none;
  width: 100%;
  height: 95vh;
  background-color: rgb(32, 32, 32);
  display: flex;
  border-bottom: 1px solid rgb(187, 187, 187);
  &-scroll {
    width: 20%;
    background-color: #e9e9e9;
    overflow-y: auto;
    text-align: center;
    &-tile {
      padding: 50px 0;
      border-bottom: 1px solid rgb(211, 211, 211);
      &:hover {
        background-color: darken(#e9e9e9, 10%);
      }
    }
  }
  &-container {
    width: 80%;
  }
}

#map {
  height: 100%;
}

.map-scroll-tile {
  position: relative;
  &-indicator {
    font-size: 2rem;
    position: absolute;
    color: white;
    top: 15px;
    left: 15px;
    background-color: rgb(42, 137, 247);
    width: 40px;
    border-radius: 10px;
  }
  &-title {
    display: block;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  &-cuisine {
    margin-bottom: 10px;
    display: block;
  }
  &-price {
    display: block;
    &-dollar {
      font-weight: bold;
      color: rgb(2, 116, 21);
    }
  }
}
