//Lower Tiles media queries

@media (max-width: 1100px) {
  .user-results-tile {
    width: 45%;
    margin-bottom: 10%;
  }
}

@media (max-width: 800px) {
  .user-results-tile {
    width: 65%;
  }

  .user-results {
    &-container {
      justify-content: center;
    }
  }
}

@media (max-width: 560px) {
  .user-results-tile {
    width: 100%;
  }
}

//Header Media queries

@media (max-width: 800px) {
  .search-bar {
    &-top {
      flex-direction: column;
    }
  }

  header {
    input {
      &#search {
        width: 100%;
        border-bottom: 1px solid $main-bg;
      }
      &#location {
        width: 100%;
        border: none;
      }
    }
    a#submit-btn.btn {
      width: 100%;
    }
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 7rem;
  }
}

@media (max-width: 415px) {
  .title {
    font-size: 6rem;
    padding-bottom: 25px;
  }
  header .wrapper {
    padding: 6% 10%;
  }
}
//Map media queries

@media (max-width: 750px) {
  .map {
    flex-direction: column-reverse;
    &-scroll {
      width: 100%;
      height: 160px;
      overflow-x: auto;
      display: flex;
      &-tile {
        border-right: 1px solid $grey;
        min-width: 200px;
      }
    }
  }
}
