button.signin {
  font-family: Roboto, sans-serif;
  display: none;
  cursor: pointer;
  width: 100px;
  position: absolute;
  top: 2%;
  right: 3%;
  background-color: $black;
  transition: background-color 0.1s;
  &:hover {
    background-color: $accent;
  }
}
