#slider .rs-range-color {
  background-color: rgb(207, 207, 207);
}
#slider .rs-path-color {
  background-color: #fcfcfc;
}
#slider .rs-handle {
  background-color: $black;
  padding: 7px;
  border: 2px solid $black;
  &:hover {
    border: 2px solid $accent;
    cursor: pointer;
  }
}

#slider .rs-handle.rs-focus {
  border-color: $black;
}
#slider .rs-handle:after {
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
#slider .rs-border {
  border-color: transparent;
}

#slider .rs-bg-color {
  background-color: transparent;
}

#slider .rs-tooltip-text {
  position: absolute;
  top: 35px;
  font-family: Roboto, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: $white;
  position: relative;
}
