.user-results {
  background-color: #e9e9e9;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &-title {
    font-size: 4rem;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(175, 175, 175);
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
  }
}

.user-results-tile {
  width: 300px;
  height: 450px;
  background-color: white;
  box-shadow: 0px 0px 50px 1px rgb(182, 182, 182);
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  .upper-tile {
    height: 40%;
    overflow: hidden;
  }
  .lower-tile {
    height: 60%;
    padding: 15px;
    .tile-btn {
      text-decoration: none;
      background-color: rgb(17, 113, 238);
      padding: 10px;
      color: black;
      display: inline-block;
      text-align: right;
      margin-top: 10px;
    }
    .tile-description {
      line-height: 1.3;
    }
    &-title {
      padding: 10px 0;
    }
  }
}

.mapContent-website {
  text-decoration: none;
}
