.user-results {
  background-color: $main-bg;
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  &-title {
    font-size: 4rem;
    margin-bottom: 40px;
    border-bottom: 1px solid $grey;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
  }
}

.user-results-tile {
  width: 30%;
  height: 450px;
  background-color: $white;
  box-shadow: 0px 0px 50px 1px $grey;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  .upper-tile {
    height: 40%;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .lower-tile {
    line-height: 2rem;
    height: 60%;
    padding: 15px;
    .tile-description,
    .tile-address {
      margin-bottom: 10px;
      .bold {
        font-weight: bold;
      }
    }
    .tile-btn {
      text-decoration: none;
      background-color: $accent;
      padding: 10px;
      color: $white;
      display: inline-block;
      text-align: right;
      margin-top: 10px;
    }
    .tile-description {
      line-height: 1.3;
    }
    &-title {
      padding: 10px 0;
      font-size: 2.3rem;
    }
  }
}

.mapContent-website {
  text-decoration: none;
}
